
  
  #mylist li{
    padding-left: 0px;
    font-family: 'ng';
    text-align: left;
  }

  #mylist label{
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;

    font-weight: bold;
  }

  .mylist {
    text-align: left;
  }

  .mycard{
    margin:20px;
  }