.proc-btn{
    border-color : #F79646;
    color : white;
    font-size : 11px;
    width : 80px; 
    height : 40px; 
    background-color : #F79646;
}

.init-badge{
    font-size : 11px;
    width : 80px; 
    height : 40px; 
    padding : 10px; 
    border-radius : 3px; 
}

.keyresult-bar{
    margin-top : 2px;
    border-radius : 5px;
    background-color:#c2cde1; 
    height : 25px;
    cursor: pointer;
    margin-left : 5px;
    margin-right : 5px;
    }

.okr-hr{
    width : 40%; 
    height : 3px;
    background-color : white; 
    margin-left : 0px;
}

.okr-badge{
    margin-right : 3px;
}

.okr-badge-div{
    margin-top : 5px;
}

.keyresult-content-div{
    height : 130px;
    border-radius : 10px;
    margin : 5px; 
    border : solid 0.2em; 
    display : none;
    font-size : 12px;
}

.funnel{
    cursor : pointer;
}

.add-menu{
    margin : 3px;
    height : 30px; 
    border-radius : 5px; 
    width : 194px;
    cursor : pointer;
}

.dash-kr-ol{
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
}

.dash-kr-li{
    margin-left : 5px;
    padding-left : 0;
    margin-top : 5px;
    cursor : pointer;
}

.dash-kr-li:hover{
    color : #c1c1c1;
}
